@font-face {
    font-family: 'Roboto';
    src:
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 450px;
    padding: 3px;
}
#card-title{
    cursor: pointer;
    color: #039be5;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
}

#entry-url {
    text-decoration: none;
}

.action-button {
    margin-left: 3px;
    padding: 3px;
    background-color: transparent;
    border: none;
}

.action-button:hover,
.action-button:active,
.action-button:focus {
    color: #039be5;
}

.icon {
    color: #b3b3b3;
    cursor: pointer;
    margin-left: 5px;
}

.chip {
    margin-left: 5px;
}

.chip-name {
    padding: 0;
    background: no-repeat;
    border: none;
    cursor: pointer;
}

.chip-name:hover,
.chip-name:focus {
    color: #039be5;
}

.btn-clear:hover {
    box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
}

.card-image-container {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    overflow: hidden;
}

.pb-30 {
    padding-bottom: 30px;
}

.form-autocomplete-item {
    display: inline;
}
.chip-selected {
   border: 1px solid black;
}

.form-autocomplete-input {
    display: flex;
    align-items: center;
}

.form-autocomplete .form-autocomplete-input .form-input {
    height: auto;
    line-height: 1.5;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

body.mobile {
    width: auto;
}

.mobile .card {
    border: none;
}

.mobile .card-image-container {
    max-height: 100px;
}

.mobile .actions {
    flex-direction: column;
    gap: 20px;
}

.mobile .action-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.mobile .action-button {
    padding: 15px;
}

.mobile .form-autocomplete .menu {
    top: initial;
    bottom: 100%;
}

.mobile .chip {
    margin-left: 10px;
    height: 1.8rem;
}

.mobile .btn.btn-clear {
    height: 100%;
}
